
#sitemast {
  margin: 0 10px;
}

#main {
  margin: 0 auto;
  border-top: none;
  width: 30em;
}
#newform input, #newform textarea, #newform select {
  width: 16.5em;
}
p.label {
  width: 8em;
}


